html,body{
  font-family: 'carrigtext', serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'carrigdisplay', serif;
}

header{
  margin: 2em auto;
}

header p{
  font-size: 2em;
}

header div{
  display: inline-block;
  padding: 1em;
  margin-left: 1em;
}

#logo{
  padding: 0 5px;
  margin: 0;
}

#logo span{
  font-size: 1.8em;
}

#logo img{
  position: relative;
  top: -15px;
  height: 2em;
}


aside{
  padding-top: 5px;
}

aside a{
  margin-bottom: 1em;
  float: left;
  clear: both;
}

section{
  margin: 1em;
}

article{
  padding: 1.2em;
  border-radius: 7px;
  margin-right: 2px;
  margin-top: 2px;
  float: left;
}


footer{
  margin: 2em;
}

a{
  text-decoration: none;
  cursor: pointer;
  color: inherit;
}

a:hover{
  text-decoration: underline;
}

.modal-dialog{
  background-color: white;
  padding: 1em;
}

.modal-dialog input{
  width: 100%;
}

.modal-dialog .checkbox{
  padding-left: 20px;
}

.symptoms article{
  margin: 0;
  float: left;
  height: 3em;
}

.howAreYou{
  width: 36em;
}