
<section class="symptoms col-md-12">
    <article class="col-md-5">symptoms analytics</article>
    <article class="col-md-3">symptoms analytics</article>
    <article class="col-md-2">symptoms analytics</article>
    <article class="col-md-2">symptoms analytics</article>
</section>

<section class="connections col-md-4 col-md-push-8 col-sm-12">
    <ul>
        <p>doctors presiding</p>
        <li ng-repeat="doctor in doctors">{{doctor.name}}</li>
    </ul>
    <ul>
        <p>family</p>
        <li ng-repeat="member in family">{{member.name}}</li>
    </ul>
    <ul>
        <p>friends and family</p>
        <li ng-repeat="friend in friends">{{friend.name}}</li>
    </ul>
</section>

<section class="feed col-md-8 col-md-pull-4 col-sm-12 row">
    <div class="row">
        <input type="text" class="textInput howAreYou" />
        <button>share</button>
    </div>
    <article class="row" ng-repeat="story in stories">
        <p>{{story.teller}}</p>
        <p>{{story.story}}</p>
    </article>
</section>