<section ng-controller="NavigationController">
    <a ng-click="goProfile()">profile</a>
    <section ng-controller="LogoutController"><button ng-click="logout()">logout</button></section>
</section>

<section ng-if="importantMessages.length" class="col-md-12 col-sm-12 jumbotron">
    <p class="row">highlights:</p>
    <p class="row" ng-repeat="important in importantMessages">{{important.message}}</p>
</section>

<section class="feed col-md-12 col-sm-12 row" ng-controller="CaregiverPostController">
    <article class="col-md-12 col-sm-12">
        <input type="text" class="textInput howAreYou" />
        <button ng-click="post()">share</button>
    </article>
    <article class="col-md-12 col-sm-12" ng-repeat="village in villages">
            <p>from {{village.name}}</p>
            <div class="row col-md-12 col-sm-12" ng-repeat="story in village.stories">
                <p><strong>{{story.teller}}</strong></p>
                <p>{{story.story}}</p>
            </div>
    </article>
</section>