<section ng-controller="LogoutController"><button ng-click="logout()">logout</button></section>

<section class="connections col-md-4 col-md-push-8 col-sm-12">
    <ul>
        <p>family and friends</p>
        <li ng-repeat="member in family">{{member.name}}</li>
    </ul>
</section>

<section class="feed col-md-8 col-md-pull-4 col-sm-12 row" ng-controller="PostController">
    <div>
        <input type="text" class="textInput howAreYou" />
        <button ng-click="post()">share</button>
    </div>
    <article class="row col-md-12 col-sm-12" ng-repeat="story in stories">
        <p><strong>{{story.teller}}</strong></p>
        <p>{{story.story}}</p>
    </article>
</section>
